<div class="uk-padding uk-text-center" style="background-color: #222222;">
    <img class="uk-animation-fade uk-margin" data-src="/assets/img/stardust-logo-typography-clean-white.png" width="64px" alt="" uk-img>
    <div class="uk-container uk-padding-small">
        <ul class="uk-iconnav uk-flex uk-flex-center" uk-scrollspy="cls:uk-animation-fade">
            <li class="uk-margin-small-left uk-margin-small-right sd-button"><a href="https://discord.gg/7gUT4aPbb7" target="_blank" uk-icon="icon: discord; ratio: 1.5;"></a></li>
            <li class="uk-margin-small-left uk-margin-small-right sd-button"><a href="https://www.facebook.com/StardustDevs" target="_blank" uk-icon="icon: facebook; ratio: 1.5;"></a></li>
            <li class="uk-margin-small-left uk-margin-small-right sd-button"><a href="https://www.tiktok.com/@alexclarkegames" target="_blank" uk-icon="icon: tiktok; ratio: 1.5;"></a></li>
            <!--<li class="uk-margin-small-left uk-margin-small-right sd-button" uk-scrollspy="cls:uk-animation-slide-left"><a href="#" uk-icon="icon: reddit; ratio: 3;"></a></li>-->
            <li class="uk-margin-small-left uk-margin-small-right sd-button"><a href="https://www.twitch.tv/stardust_collective" target="_blank" uk-icon="icon: twitch; ratio: 1.5;"></a></li>
            <li class="uk-margin-small-left uk-margin-small-right sd-button"><a href="https://www.twitter.com/StardustDevs" target="_blank" uk-icon="icon: twitter; ratio: 1.5;"></a></li>
            <li class="uk-margin-small-left uk-margin-small-right sd-button"><a href="https://www.youtube.com/channel/UC_WogbnxK0bIugUutLMI-Jg" target="_blank" uk-icon="icon: youtube; ratio: 1.5;"></a></li>
        </ul>
    </div>
    <h5 class="uk-text-bold uk-text-uppercase sd-text-white">Copyright © 2021 Stardust Collective Ltd. All rights reserved.</h5>
</div>