<nav class="uk-background-secondary uk-light" uk-navbar uk-sticky>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <a class="uk-navbar-item uk-logo uk-margin-right" href="index.html" uk-scroll="offset: 100;">
                <img data-src="/assets/img/stardust-logo-full-white.png" width="200px" height="20px" alt="" uk-img>
            </a>
            <li class="uk-visible@s"><a href="index.html#about" uk-scroll="offset: 100;">About Us</a></li>
            <li class="uk-visible@s"><a href="index.html#newsletter" uk-scroll="offset: 100;">Newsletter</a></li>
            <li class="uk-visible@s"><a href="index.html#contact" uk-scroll="offset: 100;">Contact</a></li>
            <li><a href="#news">News<span uk-icon="link"></span></a></li>
            <!--<li>
                <a href="#">Parent</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Item</a></li>-->
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-iconnav uk-flex uk-flex-center uk-margin-medium-right">
            <li class="uk-margin-small-right sd-button"><a href="https://discord.gg/7gUT4aPbb7" target="_blank" uk-icon="icon: discord; ratio: 1;"></a></li>
            <li class="uk-margin-small-right sd-button"><a href="https://www.facebook.com/StardustDevs" target="_blank" uk-icon="icon: facebook; ratio: 1;"></a></li>
            <li class="uk-margin-small-right sd-button"><a href="https://www.tiktok.com/@alexclarkegames" target="_blank" uk-icon="icon: tiktok; ratio: 1;"></a></li>
            <!--<li class="uk-margin-small-left uk-margin-small-right sd-button" uk-scrollspy="cls:uk-animation-slide-left"><a href="#" uk-icon="icon: reddit; ratio: 3;"></a></li>-->
            <li class="uk-margin-small-right sd-button"><a href="https://www.twitch.tv/stardust_collective" target="_blank" uk-icon="icon: twitch; ratio: 1;"></a></li>
            <li class="uk-margin-small-right sd-button"><a href="https://www.twitter.com/StardustDevs" target="_blank" uk-icon="icon: twitter; ratio: 1;"></a></li>
            <li class="uk-margin-small-right sd-button"><a href="https://www.youtube.com/channel/UC_WogbnxK0bIugUutLMI-Jg" target="_blank" uk-icon="icon: youtube; ratio: 1;"></a></li>
        </ul>
    </div>
</nav>
