<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
        {% seo %}
        {% include head-default.html %}
        
        <!-- Post specific CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/post.css" />
    </head>
    <body>
        <div class="uk-cover-container uk-height-medium">
            <img src="{{site.baseurl}}/{{page.url_banner}}" alt="" uk-cover>
            <div class="uk-overlay uk-position-bottom">
                <div class="uk-container">
                    <h1 class="sd-post-title">{{page.title}}</h1>
                    <h4 class="sd-post-meta uk-article-meta">Written by <span class="uk-text-bold">{{page.author}}</span> on <span class="uk-text-bold">{{ page.date | date: "%-d %B %Y" }}</span></h4>
                </div>
            </div>
        </div>
        
        <div class="uk-container uk-margin" uk-height-viewport="expand: true">
            {% if page.title_sub %}
            <div class="uk-padding-small uk-width-1-1 sd-text-white sd-background-1 sd-outline">
                <div class="uk-margin-medium-left uk-text-uppercase"><span class="uk-margin-small-right" uk-icon="icon: info; ratio: 1.25;"></span> {{page.title_sub}}</div>
            </div>
            {% endif %}
            <a href="{{site.baseurl}}/news" class="uk-button uk-padding-remove-left uk-margin-small-top">
                <span uk-icon="icon: arrow-left; ratio: 1.5;"></span> Back to news index
            </a>
            <div class="uk-margin-medium-top uk-margin-large-bottom uk-padding">
                {{ content }}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>